body {
  font-family: "Roboto", sans-serif;
}

.calculator {
  background-color: lightblue;
  text-align: center;
}

.display {
  background-color: lightgray;
  font-size: 24px;
  font-weight: bold;
}

button {
  margin: .4px;
  padding: 10px;
  text-align: center;
}

.clear {
  margin-top: 8px;
}
