* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222834;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #EB9C59;
  font-size: 30px;
}

.calculator {
  background: #62B1D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2)
}

.display {
  background-color: #DABBF9;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  text-align: right;
  border: 1px solid #827095;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  padding: 6px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  color: #393142;
  background-color: #74D1FF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s;
  width: 60px;
  height: 60px;
}

button:hover {
  background-color: #d0eaff;
}

.clearButton {
  margin-top: 8px;
  background-color: #EB9C59;
  color: white;
}

.clearButton:hover {
  background-color: #D27B56;
}

.topRow,
.midTopRow,
.midBottomRow,
.bottomRow {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
